{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Resultado
        </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="pag">
            <form id="encrypt-form" method="POST" action="{% url 'mdproject:crypt' %}">
                {% csrf_token %}
                <label>Texto a ser criptografado:</label>
                <input type="text" id="mensagem" name="mensagem">

                <label>Chave pública (n):</label>
                <input type="text" id="n" name="n">

                <label>Chave pública (e):</label>
                <input type="text" id="e" name="e">
                {% if status %}
                    <label>{{ status }}</label>
                {% endif %}
                <button type="submit">Criptografar</button>
            </form>
            <a href="{% url 'mdproject:index' %}">Voltar ao menu inicial</a>
        </div>
    </body>
</html>