{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Resultado
        </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="pag">
            <form id="descrypt-form" method="POST" action="{% url 'mdproject:descrypt' %}">
                {% csrf_token %}
                <label>Digite o p:</label>
                <input type="text" id="p" name="p">

                <label>Digite o q:</label>
                <input type="text" id="q" name="q">

                <label>Digite o e:</label>
                <input type="text" id="e" name="e">
                {% if status %}
                    <label>{{ status }}</label>
                {% endif %}
                <button type="submit">Descriptografar</button>
            </form>
            {% if decrypted_text %}
                <div class="show">
                    <label>Mensagem descriptografada:</label>
                    <label>{{ decrypted_text }}</label>
                </div>
            {% endif %}
            <a href="{% url 'mdproject:index' %}">Voltar ao menu inicial</a>
        </div>
    </body>
</html>